/* App-eigener Class */
.App {
  font-family: sans-serif;
  text-align: center;
}

/* Das HTML-Dokument selbst wird von
   allen Abstandswerten befreit und
   erhält einen abweichenden 
   Hintergrundfarbe, als der Inhalt selbst */
html {
  margin: 0;
  padding: 0;
  background-color: rgb(210, 215, 220);
}

/* Der Inhalt hat eine maximale Breite und
   die Hintergrundfarbe ist weiß */
body {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
}

/* Der Main-Tag, in dem der eigentliche
   Inhalt gepackt wird */
main {
  padding-top: 60px;
  padding-bottom: 120px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

/* Jedes Rezept liegt in einer DIV
   mit dieser Klasse */
.struktur {
  border: 1px solid rgb(60, 80, 128);
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

/* Titelfeld der Struktur */
.struktur .titel {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* Beschreibungsteil der Struktur */
.struktur .beschreibung {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  text-align: justify;
}

/* Das ist der Bereich, in der
   ein Bild und ein Rezept 
   gepackt wird */
.struktur .beide {
  display: flex;
  justify-content: space-between;
}

/* Die beiden Bereiche jeweils für Bild
   und Rezept */
.struktur .beide .links,
.struktur .beide .rechts {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  text-align: left;
}

/* Der Bild in einem der beiden Bereiche */
.struktur .beide .links img,
.struktur .beide .rechts img {
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

/* Tabellenzeilen-Farbe bei geraden Zahlen */
.struktur table tr:nth-child(even) {
  background-color: rgb(245, 245, 255);
}

/* Tabellenzeilen-Farbe bei ungeraden Zahlen */
.struktur table tr:nth-child(odd) {
  background-color: rgb(210, 210, 229);
}

/* Navigationsleiste */
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(200, 200, 200);
  border-bottom: 1px solid rgb(120, 130, 140);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

/* Navigations-Link */
nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Navigation Link-Unterklasse */
nav a .MenuItem {
  padding: 12px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Navigation Link-Unterklasse beim 
   Maus-Drüber-Rollen oder Vormarkierung */
nav a .MenuItem:hover,
nav a .HoverMenuItem {
  padding: 12px;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

/* Fußzeile */
footer {
  position: fixed;
  bottom: 0;
  left: 0px;
  width: 100%;
  background-color: rgb(200, 200, 200);
  padding: 12px;
  font-size: 12px;
  border-top: 1px solid rgb(120, 130, 140);
}

/* Infobox der auf allen Seiten erscheint */
.infobox {
  text-align: center;
  background-color: rgb(240, 240, 200);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(200, 200, 160);
  margin-bottom: 20px;
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.06);
}

/* Infobox erste Textzeile */
.infobox h1 {
  font-size: 22px;
  color: rgb(80, 120, 20);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

/* Infobox erste Textzeile "Round 2" */
.infobox h1 span {
  color: rgb(160, 60, 50);
}

/* Infobox zweite Textzeile */
.infobox h4 {
  font-size: 16px;
  font-weight: normal;
  color: rgb(80, 120, 20);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

/* Infobox dritte Textzeile */
.infobox h5 {
  font-size: 13px;
  color: rgb(80, 120, 20);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
